<h2>{{ title }}</h2>

<input class="add__text" type="text" [(ngModel)]="addProduct" title="Add a product's name here"/>
<input class="add__btn" type="button" value="Add" (click)="addProductBtn()" title="Click here to add the products name to the list"/>

<table class="product__table">
    <thead>
        <th>Id Number</th>
        <th>Name</th>
        <th>Price $</th>
        <th>Status</th>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <td>
              {{ product.id }}
            </td>
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.price }}
            </td>
            <td>
              {{ product.status }}
            </td>
        </tr>
    </tbody>
</table>

<!-- STUDY THE HERO EXAMPLE ON THE ANGULAR DOCUMENTATION -->
