<table class="product__table">
    <thead>
        <th>Id Number</th>
        <th>Name</th>
        <th>Price $</th>
        <th>Status</th>
    </thead>
    <tbody *ngFor="let product of products">
        <tr>
            <td>
              {{ product.id }}
            </td>
            <td>
              {{ product.name }}
            </td>
            <td>
              {{ product.price }}
            </td>
            <td>
              {{ product.status }}
            </td>
        </tr>
    </tbody>
</table>

<!-- CREATE A NEW PRODUCT FORM PAGE COMPONENT
Add to routing-->

<!-- STUDY THE HERO EXAMPLE ON THE ANGULAR DOCUMENTATION -->
