h2 {
  margin: 1rem;
}

.add__text {
  margin: 1rem;
}

.add__btn {
  padding: .5rem;
  background-color: #070;
  color: #fff;
}

.product__table {
    border: 1px solid #070;
    margin: 0 0 1rem 1rem;
    padding: 1rem;
}

th {
    padding: 0 0 1rem;
}

td {
    padding: 0.5rem 1rem 0 0;
}

// STUDY THE HERO EXAMPLE ON THE ANGULAR DOCUMENTATION
